<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bellbird Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h1>Bellbird Books Management System</h1>

        <p>Stock and customer order management system.</p>

        <a href="/stock/add" class="button">Add New Stock</a>
    </div>

</body>

</html>